@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --secondary-colour:#111111;
    --primary-colour:#CB3A1A;
    --paragraph-colour:#74787C;
    --white-colour:#ffffff;
    --faded-white:#FAF4EE
}
*{
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
}
/*top bar*/
.top-bar{
    width: 100%;
    height: 152px;
    background-color: var(--secondary-colour);
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.top-bar-container{
    width: 93%;
    margin-top: 25px;
    margin-bottom: 0;
    height: 37px;
    display: flex; 
}
.top-bar-infor-item{
    flex: 1;
    color: var(--white-colour);
    
}
.top-bar-infor-left ul{
    list-style: none;
    display: flex;
}
.top-bar-infor-left ul li{
    padding: 0 10px;
}

.top-bar-infor-right{
    display: flex;
    justify-content: end;

}
.top-bar-infor-right ul{
    list-style: none;
    display: flex;
}
.top-bar-infor-right ul li{
    padding: 0 10px;
}
.top-bar-infor-right ul li:hover{
    color: var(--paragraph-colour);
    cursor: pointer;
}
.top-bar-buttons{
    width: 93%;
    height: 90px;
    margin-top: 0;
    display: flex;
    align-items: center;
}
.top-bar-logo img{
    width: 165px;
    height: 50px;   
}
.top-bar-buttons-menu{
    height: 12px;
}
.top-bar-buttons-menu ul{
    display: flex;
}
.top-bar-buttons-menu ul li{
    list-style: none;
    font-size: 12px;
    color: var(--white-colour);
    flex: 1;
}
.top-bar-buttons-menu ul li:hover{
    color: var(--paragraph-colour);
    cursor: pointer;
}
.book-a-table{
    height: 50px;
    display: flex;
    justify-content: end;
    color: var(--white-colour);
    font-size: 16px; 
}
.booking-table{
    width: 245px;
    height: 100%;
    border: 1px solid var(--primary-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}
.booking-table:hover{
    color: var(--paragraph-colour);
    cursor: pointer;
}
.buttons-bar{
    flex: 1;
}
/*top bar*/

/*welcome part*/
.welcome-part{
    width: 100%;
    height: 560px;
    background-image: url(img/home-page-main-pic.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white-colour);
    white-space: nowrap;
}
.line-text{
    display: flex;
    align-items: center;
    gap: 15px;
}
.welcom-buttons{
    display: flex;
    gap: 60px;
    margin-top: 60px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}
.welcom-buttons .table-book:hover{
    cursor: pointer;
    color: var(--paragraph-colour);
}
.welcom-buttons .veiw-menu:hover{
    cursor: pointer;
    color: var(--paragraph-colour);
}
/*welcome part*/


/*welcome massage*/
.welcome-massage{
    width: 100%;
    height: 450px;
    display: flex;
}
.welcome-inner{
    flex: 1;
}
.brocli-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.brocli-img img{
    height: 90%;
}
.welcome-details{
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.welcome-deatils-inner{
    width: 70% ;
    height: 70%;
    margin-top: 80px;
}
.welcome-deatils-inner .reservation button{
    background-color: var(--primary-colour);
    border-radius: 5px;
    color: var(--white-colour);
    border: none;
    width: 130px;
} 
.welcome-deatils-inner .reservation button:hover{
    color: var(--paragraph-colour);
}
.welcome-deatils-inner p{
    color: var(--paragraph-colour);
}
.welcome-hotlline{
    display: flex;
    width: 100%;
    height: 60px;
}
.hotline-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:var(--primary-colour) ; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.hotline-img img{
    width: 60%;    
}
.hotline-itm{
    display: flex;   
}
.hotline-num{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;
}

.burger {
    right: 0;
    position: absolute;
    display: flex;
    justify-content: end;
    margin-top: 5px;
}

.burger img{
    width: 40%;
    right: 0;
}
/*welcome massage*/

/*resturent service*/
.resturent-service{
   width: 100%;
   height: 800px;
   background-color: var(--faded-white); 
   display: flex;
   justify-content: center;
   align-items: center;
}
.resturent-service-inner{
    width:95% ;
    height: 85%;
    display: flex; 
    position: relative;   
    flex-direction: column;
    align-items: center;
}
.resturent-service-text{
    width: 30%;
    height: 15%;
    margin-top: 40px; 
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.resturent-service-text button {
    background-color: var(--primary-colour);
    color: var(--white-colour);
    border: none;
    border-radius: 5px;
    width: 100px;
}
.resturent-service-text .vertical-line{
    width: 1px;
    height: 15px;
    background-color: var(--primary-colour);
}
.resturent-service-text .squer{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.resturent-service-text .squer img{
    width: 40%;
}
.leaf-img{
    right: 0;
    width: 190px;
    height: 170px;
    position: absolute;
}
.leaf-img img{
    width: 100%;
}
.food-item{
    width: 70%;
    height: 60%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menued-food{
  width: 32%;
  height: 90%;  
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--white-colour);
}
.menued-food-details{
    width: 85%;
    height: 50%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}
.menued-food-details p{
    color: var(--paragraph-colour);
    font-size: 15px;
    margin-top: 10px;
}
.menued-food img{
    width: 85%;
    margin-top: 15px;
}
.read-more{
    display: flex;
    gap: 8px;
    bottom: 20px;
    position: absolute;
    border: 1px solid var(--primary-colour);
    width: 60%;
    color: var(--primary-colour);
    align-items: center;
    justify-content: center;
    transition: all 300ms linear;
}
.read-line {
  width: 10px;
  height: 2px;
  background-color: var(--primary-colour);
  border: none;
}
.read-more:hover{
    cursor: pointer;
    transform:scale(1.1)
}
